@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%; }

.heading-primary {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300; }

::selection {
  background-color: #c0392b; }

header {
  padding: 2rem;
  background-color: #333;
  display: flex;
  align-items: center; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .nav__a {
    color: #fff;
    text-decoration: none;
    margin: 0 5rem; }

main {
  background-color: #333; }

.section-about-home {
  width: 70%;
  margin: auto; }
