@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%; }

.heading-primary {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300; }

.heading-secondary {
  font-weight: 400;
  text-align: center;
  padding-top: 2rem; }

::selection {
  background-color: #c0392b;
  color: #eee; }

.main {
  grid-column: 3 / -1; }
  .main__el {
    display: none;
    background-color: #fefefe;
    min-height: calc(100vh - 6rem); }
    .main__el:target {
      display: block; }

.page {
  display: flex;
  flex-grow: 1; }
  .page__item {
    display: inline-block;
    padding: 2rem;
    background-color: #f6f6f6;
    margin-left: 2rem;
    text-align: center; }

.post {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: .5rem;
  margin: 2rem;
  display: block; }
  .post__row {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    display: grid;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: .5rem;
    border: 1px solid #eee;
    background-color: #f6f6f6; }
    .post__row:nth-of-type(even) {
      background-color: #f6f6f6; }
    .post__row:nth-of-type(odd) {
      background-color: #fafafa; }
  .post__item {
    text-align: center; }

.sidebar {
  grid-column: 1 / 3;
  min-height: calc(100vh - 6rem);
  background-color: #fafafa; }
  .sidebar__item {
    padding: 2rem;
    background-color: #eee;
    margin-bottom: 1rem;
    transition: all .2s; }
    .sidebar__item--active {
      background-color: #c0392b; }
      .sidebar__item--active .sidebar__label {
        color: #fff; }
  .sidebar__label {
    text-decoration: none;
    color: #444; }

header {
  height: 6rem;
  padding-left: 2rem;
  background-color: #333;
  display: flex;
  align-items: center; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .nav__a {
    color: #fff;
    text-decoration: none;
    margin: 0 5rem; }

.section-admin {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
