@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700");
/*
MEDIA QUERY MANAGER


0 - 600px
600 - 900px
900 - 1200px
1200 - 1800px default
1800px+

Base > typography > general layout > grid > page layout > components
*/
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-6rem) translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #333; }

img {
  user-select: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%; }

.heading-primary {
  color: #fff;
  top: 50%;
  left: 10rem;
  position: absolute;
  transform: translateY(-50%);
  font-weight: 300;
  letter-spacing: .1rem;
  animation-name: fadeInRight;
  animation-timing-function: ease-in-out;
  animation-duration: .75s; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      left: 50%;
      display: block;
      animation: none;
      transform: translate(-50%, -50%);
      white-space: nowrap; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      letter-spacing: 0;
      font-size: 2.5rem;
      white-space: normal;
      text-align: center;
      line-height: 110%; } }

.heading-secondary {
  color: #fff;
  text-align: center;
  padding: 2rem; }

::selection {
  background-color: #c0392b;
  color: #fefefe; }

input, textarea {
  font-family: inherit;
  font-size: inherit; }
  input:focus, textarea:focus {
    outline: none; }

.about-home__col-1-of-3 {
  display: inline-block;
  width: 20%; }

.about-home__col-2-of-3 {
  display: inline-block;
  width: 70%; }

.about-home__img {
  width: 100%; }

.about {
  background-color: #222226;
  width: 70%;
  margin: auto;
  padding: 4rem; }
  @media only screen and (max-width: 75em) {
    .about {
      width: 75%; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      width: auto;
      margin: 0 2rem;
      padding: 2rem; } }
  .about__img {
    max-width: 40rem;
    margin: auto;
    display: block; }
    @media only screen and (max-width: 56.25em) {
      .about__img {
        width: 90%; } }
  .about__p {
    color: #fff;
    margin: auto;
    margin-top: 2rem;
    text-align: center; }

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 4rem;
  width: 80%;
  margin: auto; }
  @media only screen and (max-width: 75em) {
    .featured {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .featured {
      grid-template-columns: 1fr; } }
  .featured__post, .featured__article {
    margin: auto;
    text-align: center;
    background-color: #222226;
    padding: 2rem;
    height: 100%;
    border-radius: .2rem; }
    .featured__post > *, .featured__article > * {
      margin: .5rem;
      color: #eee; }
    .featured__post--img, .featured__article--img {
      max-height: 25rem;
      max-width: 95%; }
    .featured__post--date, .featured__article--date {
      font-size: 1.4rem; }
    .featured__post--link, .featured__article--link {
      color: #004EFF; }
    .featured__post--read, .featured__article--read {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #c0392b;
      text-decoration: none;
      position: relative;
      display: inline-flex;
      align-items: center;
      transition: all .2s; }
      .featured__post--read:hover, .featured__article--read:hover {
        padding-right: 3rem; }
        .featured__post--read:hover > *, .featured__article--read:hover > * {
          opacity: 1; }
    .featured__post--icon, .featured__article--icon {
      position: absolute;
      right: 1rem;
      opacity: 0;
      transition: all .2s; }
      .featured__post--icon:hover, .featured__article--icon:hover {
        opacity: 1; }
  .featured__post {
    grid-column: 1 / 2; }
    @media only screen and (max-width: 75em) {
      .featured__post {
        grid-column: 1 / -1; } }
  .featured__article {
    grid-column: 2 / -1; }
    @media only screen and (max-width: 75em) {
      .featured__article {
        grid-column: 1 / -1; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 4rem;
  width: 90%;
  margin: auto; }
  @media only screen and (max-width: 25em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
  .gallery__item {
    text-align: center;
    background-color: #222226;
    padding: 2rem;
    color: #fff;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item {
        width: 100%; } }
  .gallery__img {
    width: 90%;
    margin-top: 1rem; }
  .gallery__heading {
    font-size: 1.8rem;
    font-style: italic; }
  .gallery__link {
    text-decoration: none; }

.post-single {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222226;
  margin-top: 4rem;
  color: #fff;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .post-single {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .post-single {
      width: auto;
      margin: 4rem 2rem 0 2rem; } }
  @media only screen and (max-width: 25em) {
    .post-single {
      text-align: center; } }
  .post-single__img {
    width: 40%; }
    @media only screen and (max-width: 75em) {
      .post-single__img {
        width: 60%; } }
  .post-single__content {
    width: 70%;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .post-single__content {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .post-single__content {
        width: 90%; } }
  .post-single__author, .post-single__date, .post-single__img {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .post-single__author, .post-single__date, .post-single__img {
        margin-bottom: 1rem; } }
  .post-single__link {
    color: #004EFF; }
  .post-single__heading {
    padding-top: 0;
    padding-bottom: 1rem; }
  .post-single__comments {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    text-align: center;
    color: #ddd; }
    .post-single__comments--label {
      font-size: 2rem; }
    .post-single__comments--link {
      color: #004EFF;
      cursor: pointer;
      text-decoration: underline;
      margin-top: 1rem; }
  .post-single__comment {
    width: 70%;
    margin: auto;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .post-single__comment {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .post-single__comment {
        width: 90%; } }
    .post-single__comment:not(:last-child) {
      border-bottom: 1px solid #bbb; }
    .post-single__comment--header {
      display: flex;
      justify-content: center;
      margin: 1rem; }
    .post-single__comment--name {
      display: inline-block;
      font-size: 1.4rem; }
    .post-single__comment--date {
      display: inline-block;
      margin-left: 1rem;
      color: #bbb;
      font-size: 1.1rem;
      font-style: italic; }
    .post-single__comment--content {
      font-size: 1.5rem; }
  .post-single__form {
    text-align: center;
    display: none; }
  .post-single__input {
    border: none;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid transparent;
    transition: all .2s;
    margin-top: 1rem; }
    .post-single__input:focus {
      border-bottom: 2px solid #c0392b; }
  .post-single__textarea {
    width: 100%;
    min-height: 20rem;
    resize: none;
    padding: 1rem;
    border: none;
    border: 1px solid transparent;
    transition: all .2s; }
    .post-single__textarea:focus {
      border: 1px solid #c0392b; }
  .post-single__submit {
    padding: 1rem 2rem;
    background-color: #c0392b;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem; }
    .post-single__submit:hover {
      background-color: #81261d; }
  .post-single__text {
    margin-top: 1rem;
    display: block; }

.post {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: #222226;
  padding: 3rem;
  color: #fff;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .post {
      width: 70%; } }
  @media only screen and (max-width: 56.25em) {
    .post {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .post {
      width: 90%; } }
  .post > *:not(:last-child) {
    margin-bottom: 1rem; }
  .post__heading {
    margin-bottom: 1rem;
    font-size: 2.5rem; }
    .post__heading--link {
      color: #fff;
      text-decoration: none; }
  .post__img {
    max-height: 40rem;
    max-width: 70%; }
    @media only screen and (max-width: 37.5em) {
      .post__img {
        max-width: 100%; } }
  .post__link {
    color: #004EFF; }
  .post__content {
    display: inline-block;
    width: 90%;
    margin: inherit auto; }
    @media only screen and (max-width: 75em) {
      .post__content {
        width: 100%; } }
  .post__comments {
    display: block;
    color: #004EFF; }

.view {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #222226;
  padding-bottom: 2rem;
  margin-top: 2rem; }
  .view__img {
    max-height: 80vh;
    max-width: 90%; }
  .view__return {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    color: #004EFF;
    margin-top: 4rem; }

.header {
  height: 100vh; }
  .header .nav--respond ~ .header__container, .header-small .nav--respond ~ .header__container, .header .nav--respond ~ .header-small__container, .header-small .nav--respond ~ .header-small__container {
    height: auto; }
  .header__container, .header-small__container {
    height: 90%;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(68, 68, 68, 0.4) 100%), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative; }
  .header__img, .header-small__img {
    height: 13rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5rem;
    animation-name: fadeIn;
    animation-duration: .5s; }
    @media only screen and (max-width: 37.5em) {
      .header__img, .header-small__img {
        height: 5rem; } }
  .header-small {
    height: 60vh;
    margin-bottom: 6rem; }
    .header-small__nav {
      height: 20% !important; }
      .header-small__nav.sticky {
        height: 10% !important; }

.footer {
  background-color: #222226;
  padding: 4rem;
  min-height: 30rem;
  margin-top: 4rem;
  position: relative; }
  .footer__heading {
    color: #fff;
    font-size: 2.5rem;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    text-align: center;
    line-height: 120%; }
    @media only screen and (max-width: 56.25em) {
      .footer__heading {
        transform: translate(-50%, -50%);
        left: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__heading {
        font-size: 2rem; } }
  .footer__ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 56.25em) {
      .footer__ul {
        justify-content: space-around; } }
  .footer__li {
    display: inline-block; }
  .footer__link {
    text-decoration: none;
    color: #fff;
    margin: 0 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__link {
        margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .footer__link {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 25em) {
      .footer__link {
        font-size: 1rem; } }

.nav {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222226;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  transition: box-shadow .2s; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      justify-content: center;
      height: 7rem; } }
  @media only screen and (max-width: 25em) {
    .nav {
      bottom: 1rem; } }
  .nav__a {
    color: #fff;
    text-decoration: none;
    margin: 0 5rem;
    transition: border-bottom .2s; }
    .nav__a:not(.nav__a--respond) {
      border-bottom: 2px solid transparent;
      padding: .5rem 0; }
    @media only screen and (max-width: 37.5em) {
      .nav__a:not(:first-child) {
        display: none; } }
    @media only screen and (max-width: 56.25em) {
      .nav__a {
        margin: 2rem;
        font-size: 1.4rem; } }
    .nav__a:hover {
      border-bottom: 2px solid #fff; }
    .nav__a--respond {
      display: none;
      transform: scale(0.3);
      border: none !important; }
      @media only screen and (max-width: 37.5em) {
        .nav__a--respond {
          display: block !important;
          margin-left: auto; } }
    .nav__a--cta {
      background-color: #c0392b;
      padding: 1rem 2rem !important;
      border-bottom: none !important;
      transition: background .2s; }
      .nav__a--cta:hover {
        background-color: #81261d; }
  .nav__icon {
    width: 6rem;
    height: 4.5rem;
    position: relative;
    margin: 5rem auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
    .nav__icon span {
      display: block;
      position: absolute;
      height: .5rem;
      width: 100%;
      background-color: #fff;
      border-radius: .5rem;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .nav__icon span:nth-child(1) {
      top: 0; }
    .nav__icon span:nth-child(2), .nav__icon span:nth-child(3) {
      top: 1.8rem; }
    .nav__icon span:nth-child(4) {
      top: 3.6rem; }
    .nav__icon.open span:nth-child(1) {
      top: 3.6rem;
      width: 0%;
      left: 50%; }
    .nav__icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav__icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav__icon.open span:nth-child(4) {
      top: 1.8rem;
      width: 0%;
      left: 50%; }
  .nav--respond {
    flex-direction: column;
    height: auto;
    position: relative;
    align-items: flex-start;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8); }
    .nav--respond .nav__a {
      display: block; }
      .nav--respond .nav__a--respond {
        position: absolute;
        top: .5rem;
        right: .5rem;
        margin: -4.5rem 1.5rem; }
  .nav.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8); }

main {
  background-color: #333; }

.section-about-home {
  width: 70%;
  margin: auto; }
