html {
    font-size: $root-font-size;
}

body {
    font-size: $default-font-size;
    font-family: $default-font-family, sans-serif;
    line-height: $default-line-height;
}

.heading-primary {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 300;
}

.heading-secondary {
    font-weight: 400;
    text-align: center;
    padding-top: 2rem;
}

::selection {
    background-color: $color-primary;
    color: $color-grey-light-1;
}