.footer {
    background-color: $color-blue-dark-1;
    padding: 4rem;
    min-height: 30rem;
    margin-top: 4rem;
    position: relative;

    &__ul {
        list-style: none;
        position: absolute;
        top: 5rem;
        right: 5rem;
    }

    &__li {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        margin: 0 4rem;
    }
}