.header {
    height: 100vh;

    & .nav--respond ~ &__container {
        height: auto;
    }

    &__container {
        height: 90%;
        width: 100%;
        background-image: linear-gradient(to top right, rgba($color-black, 0.3) 0%, rgba($color-black, 0.3) 70%, rgba($color-grey-dark-1, .4) 100%), url("img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }

    &__img {
        height: 13rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2.5rem;
        animation-name: fadeIn;
        animation-duration: .5s;

        @include respond(phone) {
            height: 5rem;
        }
    }
}