.notification {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 1rem 2rem;
    border-radius: .5rem;
    min-height: 7.5rem;
    box-shadow: 1rem 1rem 4rem rgba($color-black, 0.3);
    display: flex;
    align-items: center;
    color: $color-white;
    transition: opacity .3s linear 3s;
    user-select: none;

    &__icon {
        margin-right: 2rem;
        font-size: 3rem;
    }

    &__text {
        display: flex;
        align-items: center;
    }

    &--success {
        background-color: $color-green-alert;
    }

    &--fail {
        background-color: $color-red-alert;
    }
}