.sidebar {
    grid-column: 1 / 3;
    min-height: calc(100vh - 6rem);
    background-color: $color-grey-light-2;

    &__item {
        padding: 2rem;
        background-color: $color-grey-light-1;
        margin-bottom: 1rem;
        transition: all .2s;

        &--active {
            background-color: $color-primary;

            & .sidebar__label {
                color: $color-white;
            }
        }
    }

    &__label {
        text-decoration: none;
        color: $color-grey-dark-1;
    }
}