html {
    font-size: $root-font-size;
}

body {
    font-size: $default-font-size;
    font-family: $default-font-family, sans-serif;
    line-height: $default-line-height;
}

.heading-primary {
    color: $color-white;
    top: calc(50% - 5rem);
    left: 10rem;
    position: absolute;
    transform: translateY(-50%);
}

.heading-secondary {
    color: $color-white;
    text-align: center;
    padding: 2rem;
}

::selection {
    background-color: $color-primary;
    color: $color-grey-light-1;
}