html {
    font-size: $root-font-size;
}

body {
    font-size: $default-font-size;
    font-family: $default-font-family, sans-serif;
    line-height: $default-line-height;
}

.heading-primary {
    color: $color-white;
    top: 50%;
    left: 10rem;
    position: absolute;
    transform: translateY(-50%);
    font-weight: 300;
    letter-spacing: .1rem;
    animation-name: fadeInRight;
    animation-timing-function: ease-in-out;
    animation-duration: .75s;

    @include respond(tab-port) {
        left: 50%;
        display: block;
        animation: none;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    @include respond(phone) {
        letter-spacing: 0;
        font-size: 2.5rem;
        white-space: normal;
        text-align: center;
        line-height: 110%;
    }
}

.heading-secondary {
    color: $color-white;
    text-align: center;
    padding: 2rem;
}

::selection {
    background-color: $color-primary;
    color: $color-grey-light-1;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;

    &:focus {
        outline: none;
    }
}