// COLORS

// PRIMARY
$color-primary: #c0392b;
$color-primary-light: lighten(#c0392b, 15%);
$color-primary-dark: darken(#c0392b, 15%);

// SECONDARY

// SHADES
$color-white: #fff;
$color-black: #000;

// LIGHT
$color-grey-light-1: #fefefe;
$color-grey-light-2: #eee;

// DARK
$color-grey-dark-1: #444;
$color-grey-dark-2: #333;
$color-grey-dark-3: #272727;

// BLUE
$color-blue-dark-1: #222226;

$color-blue-link: #004EFF;

// FONT

$default-font-size: 1.6rem;
$default-font-family: 'Montserrat';
$default-line-height: 150%;

// RWD
$root-font-size: 62.5%;